html, body {
    height: 100%;
}

body {
    margin: 60px auto;
    width: 70%;
    display: flex;
    height: 85%;
    flex-direction: column;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #999;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #2F4F4F;
    font-family: 'BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";'
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

.container{
    flex: 1 0 auto;
}

ul.posts li {
    list-style: none;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.special {
    font-size: 20px;
    background-color: #eef;
}

.post-list {
    margin-left: 0;
    list-style: none;
    font-size: 25px;
}

.post-list>li {
    margin-bottom: 30px;
}

.highlighter-rouge .highlight {
    background: #eef;
}

.highlight {
    background: #fff;
}

.site-footer {
    flex-shrink: 0;
    border-top: 1px solid #e8e8e8;
    font-size: .8em;
}

.svgicon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top;
}
